<!DOCTYPE HTML>
<html>
<head>
    <title>Lista de Links</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	<style>
        .links img {
            vertical-align: middle;
            width: 125px; /* Ajuste o tamanho conforme necessário */
            height: 45px;
            margin-right: 5px; /* Espaçamento entre o ícone e o texto */

        }
        .col-3 {
            margin-bottom: 40px; /* Adicione esta margem para espaçamento vertical */
            font-size: 15px;	
        }
        a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}
    </style>
</head>
<body class="is-preload">

    <header id="header">
        <a href="index.html" class="title">SpiderScreen</a>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>               
                <li><a href="elements.html" class="active">Lista de Serviços</a></li>
            </ul>
        </nav>
    </header>

    <div id="wrapper">

        <section id="main" class="wrapper">
            <div class="inner">
                <h1 class="major"><i class="fas fa-link"></i> Meus Links</h1>

                <section>
                    <div class="row">
                        <div class="col-3">
                            <h2><li>Geral</li></h2>
                            <ul class="links">
                                <p>
                                    <a href="https://admin.cacplus.prodam/Autenticacao?ReturnUrl=%2f"class="image" target="_blank"><img src="images/geral_logo-cac.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://admin.cacplus.prodam/Autenticacao?ReturnUrl=%2f" target="_blank" >CAC</a>
                                </p>

                                <p>
                                    <a href="http://subja_agti.pmsp/glpi/index.php?redirect=/front/user.php&noAUTO=1"class="image" target="_blank"><img src="images/geral_logo_chamado_TI.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="http://subja_agti.pmsp/glpi/index.php?redirect=/front/user.php&noAUTO=1" target="_blank">CHAMADO TI</a>
                                </p>
                                
                                <p>
                                    <a href="https://controladoriageralbens.prefeitura.sp.gov.br/PaginasPublicas/Login.aspx"class="image" target="_blank"><img src="images/geral_logo_declaraçaodebens.png" alt="Ícone" /></a>                   
                                    <br />
                                    <a href="https://controladoriageralbens.prefeitura.sp.gov.br/PaginasPublicas/Login.aspx" target="_blank">DECLARAÇÃO DE BENS</a>
                                </p>

                                <p>
                                    <a href="https://epubli.prefeitura.sp.gov.br/md_epubli_controlador.php?acao=inicio"class="image" target="_blank"><img src="images/geral_logo_diario_oficial.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://epubli.prefeitura.sp.gov.br/md_epubli_controlador.php?acao=inicio" target="_blank">DIÁRIO OFICIAL</a>
                                </p>

                                <p>
                                    <a href="https://www.areaprivada.prefeitura.sp.gov.br/PortalPMSP/PortalPMSP/Portal/PMSPprt001.tp"class="image" target="_blank"><img src="images/geral_logo_holerite.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://controladoriageralbens.prefeitura.sp.gov.br/PaginasPublicas/Login.aspx" target="_blank">HOLERITE</a>
                                </p>

                                
                                <p>
                                    <a href="http://transparencia.prefeitura.sp.gov.br/"class="image" target="_blank"><img src="images/geral_logo_portaldatransparencia.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="http://transparencia.prefeitura.sp.gov.br/" target="_blank">PORTAL DA TRANSPARÊNCIA</a>
                                </p>

                                <p>
                                    <a href="https://processos.prefeitura.sp.gov.br/Forms/Principal.aspx"class="image" target="_blank"><img src="images/geral_logo_portal_processos.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://processos.prefeitura.sp.gov.br/Forms/Principal.aspx" target="_blank">PORTAL PROCESSOS</a>
                                </p>





                              
                               
                                <!-- Adicione mais links conforme necessário -->
                            </ul>
                        </div>
                        <div class="col-3">
                            <h2><li>CAF</li></h2>
                            <ul class="links">
                                <p>
                                    <a href="https://fmaudit.ibsolution.com.br/Login?ReturnUrl=%2fAccount"class="image" target="_blank"><img src="images/caf_logo_bilhetagem.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://fmaudit.ibsolution.com.br/Login?ReturnUrl=%2fAccount" target="_blank">BILHETAGEM</a>
                                </p>

                                <p>
                                    <a href="https://cav.receita.fazenda.gov.br/autenticacao/Login"class="image" target="_blank"><img src="images/caf_logo_ecac.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://cav.receita.fazenda.gov.br/autenticacao/Login" target="_blank">ECAC</a>
                                </p>

                                <p>
                                    <a href="http://fatima.govit.prefeitura.sp.gov.br/#!/login"class="image" target="_blank"><img src="images/caf_logo_fatima.png" alt="Ícone" /></a>                                
                                    <br />
                                    <a href="hhttp://fatima.govit.prefeitura.sp.gov.br/#!/login" target="_blank">FATIMA</a>
                                </p>

                                <p>
                                    <a href="https://smgsuporte.prefeitura.sp.gov.br/"class="image" target="_blank"><img src="images/caf_logo_gestao.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://smgsuporte.prefeitura.sp.gov.br/" target="_blank">GESTÃO</a>
                                </p>

                                <p>
                                    <a href="https://notadomilhao.prefeitura.sp.gov.br/"class="image" target="_blank"><img src="images/caf_logo_notadomilhao.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://notadomilhao.prefeitura.sp.gov.br/" target="_blank">NOTA DO MILHÃO</a>
                                </p>

                                <p>
                                    <a href="https://simprocantigo.prefeitura.sp.gov.br/SJ0934/servlet/LOGIN"class="image" target="_blank"><img src="images/caf_logo_sip.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://simprocantigo.prefeitura.sp.gov.br/SJ0934/servlet/LOGIN" target="_blank">SIP</a>
                                </p>

                                <p>
                                    <a href="http://sf8424.rede.sp/sof/"class="image" target="_blank"><img src="images/caf_logo_sof.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="http://sf8424.rede.sp/sof/" target="_blank">SOF</a>
                                </p>

                                

                                <!-- Adicione mais links conforme necessário -->
                            </ul>
                        </div>
                        <div class="col-3">
                            <h2><li>CPDU</li></h2>
                            <ul class="links">
                                <p>
                                    <a href="http://mapas.geosampa.prodam/PaginasPublicas/_SBC.aspx#"class="image" target="_blank"><img src="images/cpdu_logo_geo_sampa.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="http://mapas.geosampa.prodam/PaginasPublicas/_SBC.aspx#" target="_blank">GEO SAMPA</a>
                                </p>

                                <p>
                                    <a href="https://sgf.prodam/"class="image" target="_blank"><img src="images/cpdu_logo_sgf.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://sgf.prodam/" target="_blank">SGF</a>
                                </p>

                                <p>
                                    <a href="https://tolegal.prefeitura.sp.gov.br/"class="image" target="_blank"><img src="images/cpdu_logo_tolegal.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://tolegal.prefeitura.sp.gov.br/" target="_blank">TO LEGAL</a>
                                </p>
                                <p>
                                    <a href="https://simproc.prefeitura.sp.gov.br/Forms/login.aspx"class="image" target="_blank"><img src="images/geral_logo_simproc_ambiente.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://simproc.prefeitura.sp.gov.br/Forms/login.aspx" target="_blank">SIMPROC AMBIENTE</a>
                                </p>

                                <p>
                                    <a href="https://simprocantigo.prefeitura.sp.gov.br/SJ0934/servlet/LOGIN"class="image" target="_blank"><img src="images/geral_logo_simproc_web.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://simprocantigo.prefeitura.sp.gov.br/SJ0934/servlet/LOGIN" target="_blank">SIMPROC WEB</a>
                                </p>

                                <p>
                                    <a href="http://tid.prodam.sp.gov.br/"class="image" target="_blank"><img src="images/geral_logo_tid.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="http://tid.prodam.sp.gov.br/" target="_blank">TID</a>
                                </p>

                                <p>
                                    <a href="https://selimp19.sflip.online/"class="image" target="_blank"><img src="images/cpo_logo-flip.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://selimp19.sflip.online/" target="_blank">FLIP</a>
                                </p>



                                
                                <!-- Adicione mais links conforme necessário -->
                            </ul>
                        </div>
                        <div class="col-3">
                            <h2><li>CPO</li></h2>
                            <ul class="links">
                                <p>
                                    <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/subprefeituras/sys/admin/"class="image" target="_blank"><img src="images/gab_logo_waram.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/subprefeituras/sys/admin/" target="_blank">WARAM</a>
                                </p>

                                <p>
                                    <a href="https://sei.prefeitura.sp.gov.br/"class="image" target="_blank"><img src="images/geral_logo_sei.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://sei.prefeitura.sp.gov.br/" target="_blank">SEI</a>
                                </p>

                                <p>
                                    <a href="https://smgimax.prefeitura.sp.gov.br/maximo/webclient/login/login.jsp?appservauth=true"class="image" target="_blank"><img src="images/cpo_logo_sgz.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://smgimax.prefeitura.sp.gov.br/maximo/webclient/login/login.jsp?appservauth=true" target="_blank">SGZ</a>
                                </p>

                                <p>
                                    <a href="https://pmsp.metasix.solutions/auth-web/login?redirect_uri=http%3A%2F%2Fpmsp.metasix.solutions%2Fresolucao-web%2Fauth-callback&token_aplicacao=VvXAr-XFwFphst8Jh32TsQ&requested_uri=http%3A%2F%2Fpmsp.metasix.solutions%2Fresolucao-web%2F"class="image" target="_blank"><img src="images/geral_logo_sigrc.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="https://pmsp.metasix.solutions/auth-web/login?redirect_uri=http%3A%2F%2Fpmsp.metasix.solutions%2Fresolucao-web%2Fauth-callback&token_aplicacao=VvXAr-XFwFphst8Jh32TsQ&requested_uri=http%3A%2F%2Fpmsp.metasix.solutions%2Fresolucao-web%2F" target="_blank">SIGRC</a>
                                </p> 

                                <p>
                                    <a href="http://dea.prodam/precopublico/formsintranet/f0004_Pag_unidades.aspx"class="image" target="_blank"><img src="images/geral_logo_preços_publicos.png" alt="Ícone" /></a>
                                    <br />
                                    <a href="http://dea.prodam/precopublico/formsintranet/f0004_Pag_unidades.aspx" target="_blank">PREÇOS PÚBLICOS</a>
                                </p>
                                <!-- Adicione mais links conforme necessário -->
                            </ul>
                        </div>

                    </div>
                </section>

            </div>
        </section>

    </div>

    <footer id="footer" class="wrapper alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy; By Nicolas Farias. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>
