<!DOCTYPE HTML>
<html lang="pt-BR"></html>
<html>
	<head>
		<title>SpiderScreen</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
		<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
		<link rel="icon" type="images/Icone.ico">
		
	<style>

.links p .image img {
  transform: scale(1);
  transition: transform 0.3s ease;
}

/* Adicione a animação quando o mouse passar por cima */
.links p .image img:hover {
  transform: scale(1.2); /* Aumenta o tamanho do ícone em 20% */
}

		/* Define a escala inicial da imagem */
.service-item img {
  transform: scale(1);
  transition: transform 0.3s ease;
}

/* Adicione a animação quando o mouse passar por cima */
.service-item img:hover {
  transform: scale(1.2); /* Aumenta o tamanho da imagem em 20% */
}


		        .links img {
            vertical-align: middle;
            width: 160px; /* Ajuste o tamanho conforme necessário */
            height: 90px;
            margin-right: 5px; /* Espaçamento entre o ícone e o texto */

        }
        .col-3 {
            margin-bottom: 40px; /* Adicione esta margem para espaçamento vertical */
            font-size: 15px;	
        }

		.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-content {
    flex: 1;
}

.services-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos adicionais conforme necessário */
.service-item {
    text-align: center;
    margin-bottom: 20px; /* Espaço entre as imagens */
}

.service-item img {
    max-width: 100%;
    height: auto;
}


.links p .image {
  position: relative;
  overflow: hidden;
}

.links p .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Cor de fundo inicial transparente */
  border-radius: 50%; /* Cria um fundo circular */
  transition: background-color 0.3s ease; /* Adiciona transição suave para a cor de fundo */
}

/* Adicione o fundo circular com opacidade quando o mouse passar por cima */
.links p .image:hover::before {
  background-color: rgba(160, 154, 154, 0.5); /* Cor de fundo com opacidade */
}

	</style>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<img src="images/JABAQUARA_CENTRALIZADO_PB_NEGATIVO.png" alt="" data-position="top center" style="height: auto; width: 100%; border-radius: 10px; box-shadow: 0px 4px 8px rgba(47, 19, 56, 0.1); margin-top: -200px;" />
						<br>
						<br>
						<ul>
							<li><a href="#intro">Bem Vindo</a></li>
							<li><a href="#one">Links Principais</a></li>
							<li><a href="#two">Outros Links</a></li>
							<li><a href="#three">Suporte</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">      

				<!-- Intro -->
				<section id="intro" class="wrapper style1 fullscreen fade-up">
					<div class="inner">
						<div class="swiffy-slider">

							<!--PARA OCULTAR UMA IMAGEM BASTA DEIXAR ELA COMO UM COMENTARIO.-->	
							<ul class="slider-container" style="border-radius: 25px; position: relative;">
							<!--IMAGEM 1  -->
								<li><img src="images/ATENÇAO.png" style="max-width: 100%; height: auto;"></li>
							<!--IMAGEM 2-->	
								<li><img src="https://source.unsplash.com/nKAglN6HBH8/1600x900" style="max-width: 100%; height: auto;"></li> 
							<!--IMAGEM 3-->	
								<li><img src="images/aniversariante.png" style="max-width: 100%; height: auto;"></li>
							</ul>
			
							<button type="button" class="slider-nav slider-nav-prev" style="position: absolute; top: 50%; left: 0; transform: translateY(-50%); color: rgb(243, 80, 248);">Voltar</button>
							<button type="button" class="slider-nav slider-nav-next" style="position: absolute; top: 50%; right: 0; transform: translateY(-50%); color: rgb(243, 80, 248);">Próximo</button>
			
							<div class="slider-indicators">
								<button class="active" style="background-color: darkpurple;"></button>
								<button style="background-color: darkpurple;"></button>
								<button style="background-color: darkpurple;"></button>
							</div>
						</div>
					</div>
				</section>
							
				<!-- One -->
				<section id="one" class="wrapper style2 spotlights">
					<section>
						<div class="image-container" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center; padding-left: 550px;">
						<div class="elemento"><a href="#" target="_blank"> <img src="images/geral_logo_sei.png" alt="Imagem 1" style="width: 190px; height: 160px;"> </a></div>	
						<div class="elemento"><img src="images/simproc-removebg-preview.png" alt="Imagem 2" style="width: 190px; height: 160px;"> </div>
						<div class="elemento"><img src="images/simprocamb.png" alt="Imagem 3" style="width: 160px; height: 80px;"> </div>
						<div class="elemento"><img src="images/DIÁRIO (5).png" alt="Imagem 4" style="width: 190px; height: 120px;"> </div>
						</div>
					</section>
				</section>
				
				
				
				
				
				

				<!-- Two AVISOS-->
				<section id="two" class="wrapper-twoo" style="background-color: rgb(108, 69, 139);">
					<div class="inner">
						<h1 class="major"><i class=""></i> </h1>
		
						<section>
							<div class="row">
								<div class="col-3">
									<!--Coluna 1-->
									<ul class="links">
										<p>

										</p>
		
										<p>
											<a href="https://nsof.prodam/#/SSG001S"class="image" target="_blank"><img src="images/caf_logo_sof.png" alt="Ícone" /></a>
											<br />
											<a href="https://nsof.prodam/#/SSG001S" target="_blank">SOF</a>
										</p>
										
										<p>
											<a href="https://controladoriageralbens.prefeitura.sp.gov.br/PaginasPublicas/Login.aspx"class="image" target="_blank"><img src="images/geosampa.png" alt="Ícone" /></a>                   
											<br />
											<a href="https://controladoriageralbens.prefeitura.sp.gov.br/PaginasPublicas/Login.aspx" target="_blank">GEOSAMPA</a>
										</p>
		
										<p>
											<a href="https://selimp19.sflip.online/"class="image" target="_blank"><img src="images/cpo_logo-flip.png" alt="Ícone" /></a>
											<br />
											<a href="https://selimp19.sflip.online/" target="_blank">FLIP</a>
										</p>
		
										<p>
											<a href="https://www.areaprivada.prefeitura.sp.gov.br/PortalPMSP/PortalPMSP/Portal/PMSPprt001.tp"class="image" target="_blank"><img src="images/geral_logo_holerite.png" alt="Ícone" /></a>
											<br />
											<a href="https://controladoriageralbens.prefeitura.sp.gov.br/PaginasPublicas/Login.aspx" target="_blank">HOLERITE</a>
										</p>
		
										
										<p>
											<a href="http://transparencia.prefeitura.sp.gov.br/"class="image" target="_blank"><img src="images/geral_logo_chamado_TI.png" alt="Ícone" /></a>
											<br />
											<a href="http://transparencia.prefeitura.sp.gov.br/" target="_blank">CHAMADO TI</a>
										</p>
		
										<p>
											<a href="https://processos.prefeitura.sp.gov.br/Forms/Principal.aspx"class="image" target="_blank"><img src="images/geral_logo_preços_publicos.png" alt="Ícone" /></a>
											<br />
											<a href="https://processos.prefeitura.sp.gov.br/Forms/Principal.aspx" target="_blank">PREÇOS PÚBLICOS</a>
										</p>

										<p>
											<a href="https://processos.prefeitura.sp.gov.br/Forms/Principal.aspx"class="image" target="_blank"><img src="images/legislação.png" alt="Ícone" /></a>
											<br />
											<a href="https://processos.prefeitura.sp.gov.br/Forms/Principal.aspx" target="_blank">CATÁLOGO DE LEGISLAÇÃO</a>
										</p>
		
		
		
		
		
									  
									   
										<!-- Adicione mais links conforme necessário -->
									</ul>
								</div>
								<div class="col-3">
									<!--Coluna 2-->
									<ul class="links">
										<p>

										</p>
		
										<p>
											<a href="https://smgimax.prefeitura.sp.gov.br/maximo/webclient/login/login.jsp?appservauth=true"class="image" target="_blank"><img src="images/cpo_logo_sgz.png" alt="Ícone" /></a>
											<br />
											<a href="https://smgimax.prefeitura.sp.gov.br/maximo/webclient/login/login.jsp?appservauth=true" target="_blank">SGZ</a>
										</p>
		
										<p>
											<a href="http://fatima.govit.prefeitura.sp.gov.br/#!/login"class="image" target="_blank"><img src="images/SOF__11_-removebg-preview.png" alt="Ícone" /></a>                                
											<br />
											<a href="hhttp://fatima.govit.prefeitura.sp.gov.br/#!/login" target="_blank">WARAM</a>
										</p>
		
										<p>
											<a href="http://tid.prodam.sp.gov.br/"class="image" target="_blank"><img src="images/geral_logo_tid.png" alt="Ícone" /></a>
											<br />
											<a href="http://tid.prodam.sp.gov.br/" target="_blank">TID</a>
										</p>
		
										<p>
											<a href="https://notadomilhao.prefeitura.sp.gov.br/"class="image" target="_blank"><img src="images/geral_logo_declaraçaodebens.png" alt="Ícone" /></a>
											<br />
											<a href="https://notadomilhao.prefeitura.sp.gov.br/" target="_blank">DECLARAÇÃO DE BENS</a>
										</p>
		
										<p>
											<a href="https://simprocantigo.prefeitura.sp.gov.br/SJ0934/servlet/LOGIN"class="image" target="_blank"><img src="images/caf_logo_fatima.png" alt="Ícone" /></a>
											<br />
											<a href="https://simprocantigo.prefeitura.sp.gov.br/SJ0934/servlet/LOGIN" target="_blank">FATIMA</a>
										</p>
		
										<p>
											<a href="http://sf8424.rede.sp/sof/"class="image" target="_blank"><img src="images/gestao_logo.png" alt="Ícone" /></a>
											<br />
											<a href="http://sf8424.rede.sp/sof/" target="_blank">GESTÃO</a>
										</p>

										<p>
											<a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/gestao/coordenadoria_de_bens_e_servicos__cobes/atas_de_registro_de_preco/index.php?p=9260"class="image" target="_blank"><img src="images/gesto_horizontal_fundo_claro_posio__99_1665688751.png" alt="Ícone" /></a>
											<br />
											<a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/gestao/coordenadoria_de_bens_e_servicos__cobes/atas_de_registro_de_preco/index.php?p=9260" target="_blank">ARP COBES</a>
										</p>
		
		
										
		
										<!-- Adicione mais links conforme necessário -->
									</ul>
								</div>
								<div class="col-3">
									<!--Coluna 3-->
									<ul class="links">
										<p>
							
										</p>
		
										<p>
											<a href="https://pmsp.metasix.solutions/auth-web/login?redirect_uri=http%3A%2F%2Fpmsp.metasix.solutions%2Fresolucao-web%2Fauth-callback&token_aplicacao=VvXAr-XFwFphst8Jh32TsQ&requested_uri=http%3A%2F%2Fpmsp.metasix.solutions%2Fresolucao-web%2F"class="image" target="_blank"><img src="images/geral_logo_sigrc.png" alt="Ícone" /></a>
											<br />
											<a href="https://pmsp.metasix.solutions/auth-web/login?redirect_uri=http%3A%2F%2Fpmsp.metasix.solutions%2Fresolucao-web%2Fauth-callback&token_aplicacao=VvXAr-XFwFphst8Jh32TsQ&requested_uri=http%3A%2F%2Fpmsp.metasix.solutions%2Fresolucao-web%2F" target="_blank">SIGRC</a>
										</p> 
		
										<p>
											<a href="https://tolegal.prefeitura.sp.gov.br/"class="image" target="_blank"><img src="images/cpdu_logo_tolegal.png" alt="Ícone" /></a>
											<br />
											<a href="https://tolegal.prefeitura.sp.gov.br/" target="_blank">TO LEGAL</a>
										</p>

										<p>
											<a href="https://notadomilhao.prefeitura.sp.gov.br/"class="image" target="_blank"><img src="images/caf_logo_notadomilhao.png" alt="Ícone" /></a>
											<br />
											<a href="https://notadomilhao.prefeitura.sp.gov.br/" target="_blank">NOTA DO MILHÃO</a>
										</p>
		
										<p>
											<a href="https://simprocantigo.prefeitura.sp.gov.br/SJ0934/servlet/LOGIN"class="image" target="_blank"><img src="images/iprem.png" alt="Ícone" /></a>
											<br />
											<a href="https://simprocantigo.prefeitura.sp.gov.br/SJ0934/servlet/LOGIN" target="_blank">DECLARAÇÃO DE FAMÍLIA</a>
										</p>
		
										<p>
											<a href="http://tid.prodam.sp.gov.br/"class="image" target="_blank"><img src="images/geral_logo-cac.png" alt="Ícone" /></a>
											<br />
											<a href="http://tid.prodam.sp.gov.br/" target="_blank">CAC</a>
										</p>
		
										<p>
											<a href="https://selimp19.sflip.online/"class="image" target="_blank"><img src="images/geral_logo_portal_processos.png" alt="Ícone" /></a>
											<br />
											<a href="https://selimp19.sflip.online/" target="_blank">PORTAL PROCESSOS</a>
										</p>

										<p>
											<a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/obras/atas_de_rp/index.php?p=325084"class="image" target="_blank"><img src="images/siurb.png" alt="Ícone" /></a>
											<br />
											<a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/obras/atas_de_rp/index.php?p=325084" target="_blank">ARP SIURB</a>
										</p>
		
		
		
										
										<!-- Adicione mais links conforme necessário -->
									</ul>
								</div>
								<div class="col-3">
									<!--Coluna 4-->
									<ul class="links">
										<p>

										</p>
		
										<p>
											<a href="https://sei.prefeitura.sp.gov.br/"class="image" target="_blank"><img src="images/cpdu_logo_sgf.png" alt="Ícone" /></a>
											<br />
											<a href="https://sei.prefeitura.sp.gov.br/" target="_blank">SGF</a>
										</p>
		
										<p>
											<a href="http://transparencia.prefeitura.sp.gov.br/"class="image" target="_blank"><img src="images/geral_logo_portaldatransparencia.png" alt="Ícone" /></a>
											<br />
											<a href="http://transparencia.prefeitura.sp.gov.br/" target="_blank">PORTAL DA TRANSPARÊNCIA</a>
										</p>
		
										<p>
											<a href="https://pmsp.metasix.solutions/auth-web/login?redirect_uri=http%3A%2F%2Fpmsp.metasix.solutions%2Fresolucao-web%2Fauth-callback&token_aplicacao=VvXAr-XFwFphst8Jh32TsQ&requested_uri=http%3A%2F%2Fpmsp.metasix.solutions%2Fresolucao-web%2F"class="image" target="_blank"><img src="images/caf_logo_ecac.png" alt="Ícone" /></a>
											<br />
											<a href="https://pmsp.metasix.solutions/auth-web/login?redirect_uri=http%3A%2F%2Fpmsp.metasix.solutions%2Fresolucao-web%2Fauth-callback&token_aplicacao=VvXAr-XFwFphst8Jh32TsQ&requested_uri=http%3A%2F%2Fpmsp.metasix.solutions%2Fresolucao-web%2F" target="_blank">ECAC</a>
										</p> 
		
										<p>
											<a href="http://dea.prodam/precopublico/formsintranet/f0004_Pag_unidades.aspx"class="image" target="_blank"><img src="images/caf_logo-clic.png" alt="Ícone" /></a>
											<br />
											<a href="http://dea.prodam/precopublico/formsintranet/f0004_Pag_unidades.aspx" target="_blank">CLIC</a>
										</p>

										<p>
											<a href="http://dea.prodam/precopublico/formsintranet/f0004_Pag_unidades.aspx"class="image" target="_blank"><img src="images/caf_logo_bilhetagem.png" alt="Ícone" /></a>
											<br />
											<a href="http://dea.prodam/precopublico/formsintranet/f0004_Pag_unidades.aspx" target="_blank">BILHETAGEM</a>
										</p>

										<p>
											<a href="https://capital.sp.gov.br/"class="image" target="_blank"><img src="images/DIÁRIO__6_-removebg-preview.png" alt="Ícone" /></a>
											<br />
											<a href="https://capital.sp.gov.br/" target="_blank">CAPITAL PMSP</a>
										</p>

										<p>
											<a href="https://cas.correios.com.br/login"class="image" target="_blank"><img src="images/logo-correios-1536.png" alt="Ícone" /></a>
											<br />
											<a href="https://cas.correios.com.br/login" target="_blank">CORREIOS ADM</a>
										</p>
										<!-- Adicione mais links conforme necessário -->
									</ul>
								</div>
		
							</div>
						</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2 style="text-align: center;">Suporte</h2>
							<h3>
								Como abrir um chamado.
							</h3>
							<p>
								1. Acesse o <a href="#">GLPI</a>
								<br />
								2. Na aba de Assistência, clique em Criar um Chamado.
								<br /> 
								3. Preencha os campos e Crie um Chamado!
								<br />
								OBS: Novas informações referentes ao acompanhamento do seu chamado serão notificadas no E-Mail. 
							</p>
							
							<div class="image-container">
							</div>
								</section>

							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; By Nicolas Farias. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>